h1 {
    text-align: center;
    background-color: rgb(34, 197, 162);
    margin-top: auto;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1500;
    border: solid 4px black;
}

body {
    background-color: blanchedalmond;
    background-image: url"100SD/assets/lateregistration.jpg";
}

.textbox {
    text-align: center;
    background-color: rgb(34, 197, 162);
    border: solid medium black;
    padding: 20px 35px 20px 35px;
    width: fit-content;
    margin: auto;
    position: relative;
}

#submitbutton {
    color: rgb(80, 27, 2);
    background-color: wheat;
    text-align: center;
    width: 20%;
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 80px;
    font-weight: bolder;
    background-color: wheat;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 300px;
    width: 300px;
    padding-top: 10px;
}

header {
    text-align: right;
    color: wheat;
    padding-bottom: 10px;
    right: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
}